<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ album.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
    <h1>{{ album.title }}</h1>
    <p>{{ album.description }}</p>
    <h2>Daftar Lagu</h2>
    <ul>
        {% for track in album.tracks %}
            <li>{{ track }}</li>
        {% endfor %}
    </ul>
</body>
</html>
